@font-face {
 font-family: Alice;
 font-style: normal;
 font-weight: 400;
 src: local("Alice Regular"),local(Alice-Regular),url(//fonts.gstatic.com/s/alice/v8/sZyKh5NKrCk1xkCk_F1S8A.eot?#) format("eot"),url(//fonts.gstatic.com/s/alice/v8/l5RFQT5MQiajQkFxjDLySg.woff2) format("woff2"),url(//fonts.gstatic.com/s/alice/v8/_H4kMcdhHr0B8RDaQcqpTA.woff) format("woff");
}

/*Variables*/

:root {

 /*custom properties*/
/*Custom media*/
}

/* root */

/* Fonts */

body {
   font-family: "Alice";
}

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html, body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;    
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom CSS
   ========================================================================== */

.responsive {
       font-size: calc(16px + 20 * ((100vw - 420px) / 860));
   }

/* Just a test for postcss-assets resolve*/

body {
    background: navajowhite url('../images/fog.jpg') no-repeat;
    background-size: cover;
}

a {
    color: aliceblue;
    text-decoration: none;
}

/*
we can specify global variable to use flexbox as default instead of floats

@lost flexbox flex;
*/

/* Grids */

.grid-item {
	background: rgb(107, 120, 133);
	height: 100px;
	margin-bottom: 20px;
}

.grid-one {
	width: 100%; /* must be declared on parent*/
}

.grid-one:before { /* must be declared on parent*/
	content: '';
	display: table;
}

.grid-one:after { /* must be declared on parent*/
	content: '';
	display: table;
	clear: both;
}

.grid-one div {
	width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
}

.grid-one div:nth-child(1n) {
	float: left;
	margin-right: 30px;
	clear: none;
}

.grid-one div:last-child {
	margin-right: 0;
}

.grid-one div:nth-child(1n) {
	margin-right: 0;
	float: right;
}

.grid-one div:nth-child(1n + 1) {
	clear: both;
}

.nested-grid {
	background: red;
	height: 50px;
	margin-bottom: 10px;
}

/*		VERTICAL GRID 		*/

.grid-two {
	width: 100%;
	height: 500px;
	/* we can use lost center instead of lost utility: clearfix. Also second propertu in this is for padding(left, right)*/
	max-width:80%;
	margin-left:auto;
	margin-right:auto;
	padding-left:48px;
	padding-right:48px;
	max-width:80%;
	margin-left:auto;
	margin-right:auto;
	padding-left:3rem;
	padding-right:3rem;
	padding-top: 48px;
	padding-top: 3rem;
	background: rgb(166, 166, 166);
}

.grid-two:before {
	/* we can use lost center instead of lost utility: clearfix. Also second propertu in this is for padding(left, right)*/
	content:'';
	display:table;
}

.grid-two:after {
	/* we can use lost center instead of lost utility: clearfix. Also second propertu in this is for padding(left, right)*/
	content:'';
	display:table;
	clear:both;
}

.grid-two:before {
	/* we can use lost center instead of lost utility: clearfix. Also second propertu in this is for padding(left, right)*/
	content:'';
	display:table;
}

.grid-two:after {
	/* we can use lost center instead of lost utility: clearfix. Also second propertu in this is for padding(left, right)*/
	content:'';
	display:table;
	clear:both;
}

.grid-two div {
	/* lost row is for vertical grid */
	width: 100%;
	height: calc(99.9% * 1/5 - (30px - 30px * 1/5));
	margin-bottom: 30px;
	position: relative;
}

.grid-two div:last-child {
	/* lost row is for vertical grid */
	margin-bottom: 0;
}

.grid-two div > * {
	/* lost row is for vertical grid */
	position: absolute;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 50%;
	transform: translate(-50%, -50%);
}

.grid-two div p{
	margin: 0;
}

/*  Waffle Grid*/

.grid-three {
	width: 100%;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 48px;
	padding-right: 48px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3rem;
	padding-right: 3rem;
	height: 100vh;
}

.grid-three:before {
	content: '';
	display: table;
}

.grid-three:after {
	content: '';
	display: table;
	clear: both;
}

.grid-three:before {
	content: '';
	display: table;
}

.grid-three:after {
	content: '';
	display: table;
	clear: both;
}

.grid-three div {
	width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
	font-size: 2em;
	background: rgb(166, 107, 0);
}

.grid-three div:nth-child(1n) {
	float: left;
	margin-right: 30px;
	clear: none;
}

.grid-three div:last-child {
	margin-right: 0;
}

.grid-three div:nth-child(1n) {
	margin-right: 0;
	float: right;
}

.grid-three div:nth-child(1n + 1) {
	clear: both;
}

/*  Flexbox Grid  */

.grid-four {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 48px;
	padding-right: 48px;
	display: flex;
	flex-flow: row wrap;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3rem;
	padding-right: 3rem;
	height: 60vh;
}

.grid-four div {
	width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
	font-size: 2em;
	background: rgb(0, 102, 102);
}

.grid-four div:nth-child(1n) {
	float: left;
	margin-right: 30px;
	clear: none;
}

.grid-four div:last-child {
	margin-right: 0;
}

.grid-four div:nth-child(1n) {
	margin-right: 0;
	float: right;
}

.grid-four div:nth-child(1n + 1) {
	clear: both;
}

#weather{
    position: relative;
    float: right;
    top: 5px;
    right: 5px;
    // border: 1px solid black;

    width: 280px;
    height: 180px;
    // border: 1px solid black;
    // background: rgba(0, 0, 0, .3);
    border-radius: 5px;
    text-align: center;
    color: #272a38

   
}

#weather .currentTemp p {
 position: relative;
 right: -145px;
 top: -75px;
 width: 50%;
 font-size: 64px;
 font-size: 4rem;
 margin: 0;
 cursor: pointer;
}

#weather .currentTemp .unit {
 font-size: 22.4px;
 font-size: 1.4rem;
}

#weather {

 /*! currentTemp*/
}

#weather .location {
 position: relative;
 font-size: 22px;
 margin: 0;
 padding: 0;
 top: -60px;
}

#weather .location .loc {
 text-align: center;
 margin: 0;
}

#weather .location {

 /*! loc*/
}

#weather {

 /*! location*/
}

#weather #icon {
 position: relative;
 // border: .5px solid black;
 left: 60px;
 top: 20px;
 float: left;
}

/*! weather*/

#daily {
    height: 200px;
    width: 400px;
    margin-right: .5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end
}

#daily .daily_info {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-flex: 1;
     -ms-flex: 1;
         flex: 1;
 border-bottom: .3px solid #e0e0f8;
 height: 150px;
 width: 100%;
}

#daily ul {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 margin: 0;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-flow: row wrap;
         flex-flow: row wrap;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
 width: 100%;
 padding-left: 0;
 margin-bottom: 0;
}

#daily ul li {
 list-style: none;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 cursor: pointer;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-flow: row wrap-reverse;
         flex-flow: row wrap-reverse;
 width: 20%;
 // border: .2px solid black;
 height: 50px;
 -webkit-box-align: end;
     -ms-flex-align: end;
         align-items: flex-end;
 -webkit-box-pack: end;
     -ms-flex-pack: end;
         justify-content: flex-end;
 padding: 3px;
}

#daily ul li [id*="icon_"] {
 position: relative;
 right: 5px;
 top: 5px;
}

#daily ul li {

 /*!icon_*/
}

#daily ul li [class*="daily_"] {
 color: #e0e0f8;
 position: relative;
 bottom: -5px;
 right: 5px;
 font-size: 13px;
 -ms-flex-pack: distribute;
     justify-content: space-around;
 margin: 0;
}

#daily ul li {

 /*! .daily*/
}

#daily ul {

 /*! li*/
}

#daily ul li:hover {
 background: rgba(0, 0, 0, 0.45);
}

#daily {

 /*! ul*/
}

/*
   Animation example, for spinners
*/

.animate-spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?76754551');
  src: url('../font/fontello.eot?76754551#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?76754551') format('woff2'),
       url('../font/fontello.woff?76754551') format('woff'),
       url('../font/fontello.ttf?76754551') format('truetype'),
       url('../font/fontello.svg?76754551#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?76754551#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-size: 85px;  
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 100px;
  text-align: center;
  opacity: .8; 
 
  /* For safety - reset parent styles, that can break glyph codes*/
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 2em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 100px;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
 text-shadow: 1px 1px 1px rgba(127, 127, 127, .3); 
}

.icon-spin4:before { content: '\e834'; }

/* '' */

.quotesBox {
    position: relative;
    width: 50%;
    margin: 0 auto; 
    margin-left: 70px;
    color: aliceblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: auto /* TODO: this will pin quotes to the bottom of the page,
                           but it's not the best solution. Find better solution.*/
}

.quotesBox .quoteInfo {
 margin: 10px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 height: 50px;
}

.quotesBox #quoteText:hover {
 opacity: 0.7;
}

.quotesBox #quoteAuthor {
 margin: 0.5em;
 margin-right: 1em;
 font-size: 1em;
}

.quotesBox #quoteAuthor:hover {
 opacity: 0.7;
}

.quotesBox #tweetButton {
 margin-bottom: 1em;
 cursor: pointer;
}

.quotesBox #tweetButton:hover {
 opacity: 0.7;
}

#todoMain {
    position: relative;
    width: 250px;
    height: auto;
    right: 1%;
    bottom: 2%;
    font-size: 15px;
    border-radius: 3px;
    background-color:rgba(15, 15, 15, .700);
}

#todoTitle {
    color: grey;
    margin: 0;
    padding: 6px 5px 2px 5px;
}

#inputTodo {
    position: relative;
    bottom: 1%;
    background-color:transparent;
    border: 0;
    color:white;
    font-size: 15px;
    padding: 6px 5px 8px 5px;
}

#inputTodo:focus{
    outline: none;
}

.showArrow {
    border-top-color: black;
}

#todoBtn.hidden:before {
    border-top: 10px solid black;
}

#list {
    list-style: none;
    padding: 6px 5px 7px 5px;
    margin: 0;
    color: white;
}

.itemDone {
    text-decoration: line-through;
    color: grey;
}

.deleteBtnTodo {
    width:45px;
    border-radius: 3px;
    display: none;
    color:grey;
    padding: 2px;
    background-color: transparent;
    border: none;
    border-color: white;
    float: right;
    background: none;
}

li:hover .deleteBtnTodo {
    display: inline;
}

.deleteBtnTodo:focus{
    outline: none;
}

.deleteBtnTodo:hover{
    border: 2px solid grey;
    padding: 0;
}

.deleteBtnTodo:active{
    border: 2px solid white;
    padding: 0;
}

#noTodoText {
    color:white;
    text-align: center;
}

#noTodoImg {
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

#links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 40px;
    left: 30px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 450px;
    height: 55px
}

#links .links_wrapper {
 background-color: rgba(0, 0, 0, .3);
 border-radius: 5px;
 width: 100%;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
}

#links .links_wrapper #links_list {
 padding: 0;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 width: 100%;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
     -ms-flex-flow: row nowrap;
         flex-flow: row nowrap;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
}

#links .links_wrapper #links_list li {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 list-style: none;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 width: 50px;
 height: 50px;
 text-align: center;
 font-size: 13px;
}

#links .links_wrapper #links_list {

 /*! li*/
}

#links .links_wrapper {

 /*! links_list*/
}

#links {

 /*! links_wrapper*/
}

#links a {
 color: #CCC;
 text-decoration: none;
}

#links {

 /*! a*/
}

#links .link_icon:hover {
 opacity: .5;
}

/* ! links */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media (min-width: 576px) {

 .grid-one div {
  width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
 }

 .grid-one div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
 }

 .grid-one div:last-child {
  margin-right: 0;
 }

 .grid-one div:nth-child(2n) {
  margin-right: 0;
  float: right;
 }

 .grid-one div:nth-child(2n + 1) {
  clear: both;
 }

 .grid-three div {
  width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
 }

 .grid-three div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
 }

 .grid-three div:last-child {
  margin-right: 0;
 }

 .grid-three div:nth-child(2n) {
  margin-right: 0;
  float: right;
 }

 .grid-three div:nth-child(2n + 1) {
  clear: both;
 }

 .grid-four div {
  width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
 }

 .grid-four div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
 }

 .grid-four div:last-child {
  margin-right: 0;
 }

 .grid-four div:nth-child(2n) {
  margin-right: 0;
  float: right;
 }

 .grid-four div:nth-child(2n + 1) {
  clear: both;
 }
}

@media (min-width: 768px) {

 .grid-one div {
  width: calc(99.9% * 1/3 - (30px - 30px * 1/3));
 }

 .grid-one div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
 }

 .grid-one div:last-child {
  margin-right: 0;
 }

 .grid-one div:nth-child(3n) {
  margin-right: 0;
  float: right;
 }

 .grid-one div:nth-child(3n + 1) {
  clear: both;
 }

 .grid-three div {
  width: calc(99.9% * 1/3 - (30px - 30px * 1/3));
 }

 .grid-three div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
 }

 .grid-three div:last-child {
  margin-right: 0;
 }

 .grid-three div:nth-child(3n) {
  margin-right: 0;
  float: right;
 }

 .grid-three div:nth-child(3n + 1) {
  clear: both;
 }

 .grid-four div {
  width: calc(99.9% * 1/3 - (30px - 30px * 1/3));
 }

 .grid-four div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
 }

 .grid-four div:last-child {
  margin-right: 0;
 }

 .grid-four div:nth-child(3n) {
  margin-right: 0;
  float: right;
 }

 .grid-four div:nth-child(3n + 1) {
  clear: both;
 }
}

@media (min-width: 992px) {

 .grid-one div {
  width: calc(99.9% * 1/6 - (30px - 30px * 1/6));
 }

 .grid-one div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
 }

 .grid-one div:last-child {
  margin-right: 0;
 }

 .grid-one div:nth-child(6n) {
  margin-right: 0;
  float: right;
 }

 .grid-one div:nth-child(6n + 1) {
  clear: both;
 }

 .grid-three div {
  width: calc(99.9% * 1/4 - (30px - 30px * 1/4));
  height: calc(99.9% * 1/4 - (30px - 30px * 1/4));
 }

 .grid-three div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  clear: none;
 }

 .grid-three div:last-child {
  margin-right: 0;
  margin-bottom: 0;
 }

 .grid-three div:nth-child(4n) {
  margin-right: 0;
 }

 .grid-three div:nth-child(4n + 1) {
  clear: both;
 }

 .grid-three div:nth-last-child(-n + 4) {
  margin-bottom: 0;
 }

 .grid-four div {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(99.9% * 1/4 - (30px - 30px * 1/4));
  max-width: calc(99.9% * 1/4 - (30px - 30px * 1/4));
  width: calc(99.9% * 1/4 - (30px - 30px * 1/4));
 }

 .grid-four div:nth-child(1n) {
  margin-right: 30px;
  margin-left: 0;
 }

 .grid-four div:last-child {
  margin-right: 0;
 }

 .grid-four div:nth-child(4n) {
  margin-right: 0;
  margin-left: auto;
 }
}

@media screen and (min-width: 1280px) {

 .responsive {
  font-size: 36px;
 }
}

@media screen and (max-width: 420px) {

 .responsive {
  font-size: 16px;
 }
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*# sourceMappingURL=main.css.map */
