
@lost flexbox flex;
@lost gutter 0px;
#daily {
    height: 200px;
    width: 400px;
    display: flex;
    flex-flow: column nowrap;
    background: color(black alpha(35%));
    border-radius: 5px;
    color: #e0e0f8;
    transform: translateX(100%);
    transition: .4s ease-in-out;

    & .daily_info {
        border-bottom: .3px solid #e0e0f8;
        height: 150px;
        width: 100%;
        flex-flow: column;
        lost-center: 100% .5rem;

        & .daily_header {
            lost-row: 1/5;
            margin: 0;
	        lost-align: center;
            
            & h4 {
                margin: 0;
                font-size: 22px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-weight: 300;
            }
        }
        & .daily_body {
            lost-row: 4/5;
	        lost-align: center;

            & .daily_icon {
                height: 100%;
                lost-column: 1/4;
            }
            & .daily_details {
                height: 100%;
                lost-column: 3/4;

                & .daily_temp {
                    lost-row: 1/3;
                    lost-align: middle-right;
                    padding-right: 15px;
                    font-size: 28px;

                    & .hiTemp {
                        color: #EE0000;
                    }

                    & .lowTemp {
                        color: #4876FF;
                    }
                }
                & .daily_summary {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    lost-row: 1/3;
                    font-size: 15px;
                }
                & .daily_misc {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-flow: column wrap;
                    lost-row: 1/3;
                    font-size: 14px;
                }
            }
        }



    } /* ! Daily info */
    
    & ul {
        display: flex;
        margin: 0;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;

        & li {
            list-style: none;
            display: flex;
            cursor: pointer;
            flex-flow: row wrap-reverse;            
            width: calc(100% / 5);
            height: 50px;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 3px;
            
            & [id*="icon_"] {
                position: relative;
                right: 5px;
                top: 5px;
            } /* !icon_ */
            & [class*="daily_"] {
                color: #e0e0f8;
                position: relative;
                bottom: -5px;
                right: 5px;
                font-size: 13px;
                justify-content: space-around;
                margin: 0;
            } /* ! .daily */
        } /* ! li */

        & li:hover {
            background: color(black alpha(45%));
        }
    } /* ! ul */
    .inline {
	display: inline !important;
    }
    .inline-block {
        display: inline-block !important;
    }
    .no-padding {
	padding: 0px !important;
    }
    .no-margin {
        margin: 0px !important;
    }
}
    /*!
 *  Weather Icons 2.0
 *  Updated August 1, 2015
 *  Weather themed icons for Bootstrap
 *  Author - Erik Flowers - erik@helloerik.com
 *  Email: erik@helloerik.com
 *  Twitter: http://twitter.com/Erik_UX
 *  ------------------------------------------------------------------------------
 *  Maintained at http://erikflowers.github.io/weather-icons
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - Font licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - CSS, SCSS and LESS are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Inspired by and works great as a companion with Font Awesome
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 */

.wi {
    display: inline-block;
    font-family: weathericons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.wi-fw {
    text-align: center;
    width: 1.4em
}

.wi-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.wi-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.wi-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.wi-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.wi-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1)
}

.wi-day-sunny:before {
    content: "\f00d"
}

.wi-day-cloudy:before {
    content: "\f002"
}

.wi-day-cloudy-gusts:before {
    content: "\f000"
}

.wi-day-cloudy-windy:before {
    content: "\f001"
}

.wi-day-fog:before {
    content: "\f003"
}

.wi-day-hail:before {
    content: "\f004"
}

.wi-day-haze:before {
    content: "\f0b6"
}

.wi-day-lightning:before {
    content: "\f005"
}

.wi-day-rain:before {
    content: "\f008"
}

.wi-day-rain-mix:before {
    content: "\f006"
}

.wi-day-rain-wind:before {
    content: "\f007"
}

.wi-day-showers:before {
    content: "\f009"
}

.wi-day-sleet:before {
    content: "\f0b2"
}

.wi-day-sleet-storm:before {
    content: "\f068"
}

.wi-day-snow:before {
    content: "\f00a"
}

.wi-day-snow-thunderstorm:before {
    content: "\f06b"
}

.wi-day-snow-wind:before {
    content: "\f065"
}

.wi-day-sprinkle:before {
    content: "\f00b"
}

.wi-day-storm-showers:before {
    content: "\f00e"
}

.wi-day-sunny-overcast:before {
    content: "\f00c"
}

.wi-day-thunderstorm:before {
    content: "\f010"
}

.wi-day-windy:before {
    content: "\f085"
}

.wi-solar-eclipse:before {
    content: "\f06e"
}

.wi-hot:before {
    content: "\f072"
}

.wi-day-cloudy-high:before {
    content: "\f07d"
}

.wi-day-light-wind:before {
    content: "\f0c4"
}

.wi-night-clear:before {
    content: "\f02e"
}

.wi-night-alt-cloudy:before {
    content: "\f086"
}

.wi-night-alt-cloudy-gusts:before {
    content: "\f022"
}

.wi-night-alt-cloudy-windy:before {
    content: "\f023"
}

.wi-night-alt-hail:before {
    content: "\f024"
}

.wi-night-alt-lightning:before {
    content: "\f025"
}

.wi-night-alt-rain:before {
    content: "\f028"
}

.wi-night-alt-rain-mix:before {
    content: "\f026"
}

.wi-night-alt-rain-wind:before {
    content: "\f027"
}

.wi-night-alt-showers:before {
    content: "\f029"
}

.wi-night-alt-sleet:before {
    content: "\f0b4"
}

.wi-night-alt-sleet-storm:before {
    content: "\f06a"
}

.wi-night-alt-snow:before {
    content: "\f02a"
}

.wi-night-alt-snow-thunderstorm:before {
    content: "\f06d"
}

.wi-night-alt-snow-wind:before {
    content: "\f067"
}

.wi-night-alt-sprinkle:before {
    content: "\f02b"
}

.wi-night-alt-storm-showers:before {
    content: "\f02c"
}

.wi-night-alt-thunderstorm:before {
    content: "\f02d"
}

.wi-night-cloudy:before {
    content: "\f031"
}

.wi-night-cloudy-gusts:before {
    content: "\f02f"
}

.wi-night-cloudy-windy:before {
    content: "\f030"
}

.wi-night-fog:before {
    content: "\f04a"
}

.wi-night-hail:before {
    content: "\f032"
}

.wi-night-lightning:before {
    content: "\f033"
}

.wi-night-partly-cloudy:before {
    content: "\f083"
}

.wi-night-rain:before {
    content: "\f036"
}

.wi-night-rain-mix:before {
    content: "\f034"
}

.wi-night-rain-wind:before {
    content: "\f035"
}

.wi-night-showers:before {
    content: "\f037"
}

.wi-night-sleet:before {
    content: "\f0b3"
}

.wi-night-sleet-storm:before {
    content: "\f069"
}

.wi-night-snow:before {
    content: "\f038"
}

.wi-night-snow-thunderstorm:before {
    content: "\f06c"
}

.wi-night-snow-wind:before {
    content: "\f066"
}

.wi-night-sprinkle:before {
    content: "\f039"
}

.wi-night-storm-showers:before {
    content: "\f03a"
}

.wi-night-thunderstorm:before {
    content: "\f03b"
}

.wi-lunar-eclipse:before {
    content: "\f070"
}

.wi-stars:before {
    content: "\f077"
}

.wi-storm-showers:before {
    content: "\f01d"
}

.wi-thunderstorm:before {
    content: "\f01e"
}

.wi-night-alt-cloudy-high:before {
    content: "\f07e"
}

.wi-night-cloudy-high:before {
    content: "\f080"
}

.wi-night-alt-partly-cloudy:before {
    content: "\f081"
}

.wi-cloud:before {
    content: "\f041"
}

.wi-cloudy:before {
    content: "\f013"
}

.wi-cloudy-gusts:before {
    content: "\f011"
}

.wi-cloudy-windy:before {
    content: "\f012"
}

.wi-fog:before {
    content: "\f014"
}

.wi-hail:before {
    content: "\f015"
}

.wi-rain:before {
    content: "\f019"
}

.wi-rain-mix:before {
    content: "\f017"
}

.wi-rain-wind:before {
    content: "\f018"
}

.wi-showers:before {
    content: "\f01a"
}

.wi-sleet:before {
    content: "\f0b5"
}

.wi-snow:before {
    content: "\f01b"
}

.wi-sprinkle:before {
    content: "\f01c"
}

.wi-storm-showers:before {
    content: "\f01d"
}

.wi-thunderstorm:before {
    content: "\f01e"
}

.wi-snow-wind:before {
    content: "\f064"
}

.wi-snow:before {
    content: "\f01b"
}

.wi-smog:before {
    content: "\f074"
}

.wi-smoke:before {
    content: "\f062"
}

.wi-lightning:before {
    content: "\f016"
}

.wi-raindrops:before {
    content: "\f04e"
}

.wi-raindrop:before {
    content: "\f078"
}

.wi-dust:before {
    content: "\f063"
}

.wi-snowflake-cold:before {
    content: "\f076"
}

.wi-windy:before {
    content: "\f021"
}

.wi-strong-wind:before {
    content: "\f050"
}

.wi-sandstorm:before {
    content: "\f082"
}

.wi-earthquake:before {
    content: "\f0c6"
}

.wi-fire:before {
    content: "\f0c7"
}

.wi-flood:before {
    content: "\f07c"
}

.wi-meteor:before {
    content: "\f071"
}

.wi-tsunami:before {
    content: "\f0c5"
}

.wi-volcano:before {
    content: "\f0c8"
}

.wi-hurricane:before {
    content: "\f073"
}

.wi-tornado:before {
    content: "\f056"
}

.wi-small-craft-advisory:before {
    content: "\f0cc"
}

.wi-gale-warning:before {
    content: "\f0cd"
}

.wi-storm-warning:before {
    content: "\f0ce"
}

.wi-hurricane-warning:before {
    content: "\f0cf"
}

.wi-wind-direction:before {
    content: "\f0b1"
}

.wi-alien:before {
    content: "\f075"
}

.wi-celsius:before {
    content: "\f03c"
}

.wi-fahrenheit:before {
    content: "\f045"
}

.wi-degrees:before {
    content: "\f042"
}

.wi-thermometer:before {
    content: "\f055"
}

.wi-thermometer-exterior:before {
    content: "\f053"
}

.wi-thermometer-internal:before {
    content: "\f054"
}

.wi-cloud-down:before {
    content: "\f03d"
}

.wi-cloud-up:before {
    content: "\f040"
}

.wi-cloud-refresh:before {
    content: "\f03e"
}

.wi-horizon:before {
    content: "\f047"
}

.wi-horizon-alt:before {
    content: "\f046"
}

.wi-sunrise:before {
    content: "\f051"
}

.wi-sunset:before {
    content: "\f052"
}

.wi-moonrise:before {
    content: "\f0c9"
}

.wi-moonset:before {
    content: "\f0ca"
}

.wi-refresh:before {
    content: "\f04c"
}

.wi-refresh-alt:before {
    content: "\f04b"
}

.wi-umbrella:before {
    content: "\f084"
}

.wi-barometer:before {
    content: "\f079"
}

.wi-humidity:before {
    content: "\f07a"
}

.wi-na:before {
    content: "\f07b"
}

.wi-train:before {
    content: "\f0cb"
}

.wi-moon-new:before {
    content: "\f095"
}

.wi-moon-waxing-cresent-1:before {
    content: "\f096"
}

.wi-moon-waxing-cresent-2:before {
    content: "\f097"
}

.wi-moon-waxing-cresent-3:before {
    content: "\f098"
}

.wi-moon-waxing-cresent-4:before {
    content: "\f099"
}

.wi-moon-waxing-cresent-5:before {
    content: "\f09a"
}

.wi-moon-waxing-cresent-6:before {
    content: "\f09b"
}

.wi-moon-first-quarter:before {
    content: "\f09c"
}

.wi-moon-waxing-gibbous-1:before {
    content: "\f09d"
}

.wi-moon-waxing-gibbous-2:before {
    content: "\f09e"
}

.wi-moon-waxing-gibbous-3:before {
    content: "\f09f"
}

.wi-moon-waxing-gibbous-4:before {
    content: "\f0a0"
}

.wi-moon-waxing-gibbous-5:before {
    content: "\f0a1"
}

.wi-moon-waxing-gibbous-6:before {
    content: "\f0a2"
}

.wi-moon-full:before {
    content: "\f0a3"
}

.wi-moon-waning-gibbous-1:before {
    content: "\f0a4"
}

.wi-moon-waning-gibbous-2:before {
    content: "\f0a5"
}

.wi-moon-waning-gibbous-3:before {
    content: "\f0a6"
}

.wi-moon-waning-gibbous-4:before {
    content: "\f0a7"
}

.wi-moon-waning-gibbous-5:before {
    content: "\f0a8"
}

.wi-moon-waning-gibbous-6:before {
    content: "\f0a9"
}

.wi-moon-third-quarter:before {
    content: "\f0aa"
}

.wi-moon-waning-crescent-1:before {
    content: "\f0ab"
}

.wi-moon-waning-crescent-2:before {
    content: "\f0ac"
}

.wi-moon-waning-crescent-3:before {
    content: "\f0ad"
}

.wi-moon-waning-crescent-4:before {
    content: "\f0ae"
}

.wi-moon-waning-crescent-5:before {
    content: "\f0af"
}

.wi-moon-waning-crescent-6:before {
    content: "\f0b0"
}

.wi-moon-alt-new:before {
    content: "\f0eb"
}

.wi-moon-alt-waxing-cresent-1:before {
    content: "\f0d0"
}

.wi-moon-alt-waxing-cresent-2:before {
    content: "\f0d1"
}

.wi-moon-alt-waxing-cresent-3:before {
    content: "\f0d2"
}

.wi-moon-alt-waxing-cresent-4:before {
    content: "\f0d3"
}

.wi-moon-alt-waxing-cresent-5:before {
    content: "\f0d4"
}

.wi-moon-alt-waxing-cresent-6:before {
    content: "\f0d5"
}

.wi-moon-alt-first-quarter:before {
    content: "\f0d6"
}

.wi-moon-alt-waxing-gibbous-1:before {
    content: "\f0d7"
}

.wi-moon-alt-waxing-gibbous-2:before {
    content: "\f0d8"
}

.wi-moon-alt-waxing-gibbous-3:before {
    content: "\f0d9"
}

.wi-moon-alt-waxing-gibbous-4:before {
    content: "\f0da"
}

.wi-moon-alt-waxing-gibbous-5:before {
    content: "\f0db"
}

.wi-moon-alt-waxing-gibbous-6:before {
    content: "\f0dc"
}

.wi-moon-alt-full:before {
    content: "\f0dd"
}

.wi-moon-alt-waning-gibbous-1:before {
    content: "\f0de"
}

.wi-moon-alt-waning-gibbous-2:before {
    content: "\f0df"
}

.wi-moon-alt-waning-gibbous-3:before {
    content: "\f0e0"
}

.wi-moon-alt-waning-gibbous-4:before {
    content: "\f0e1"
}

.wi-moon-alt-waning-gibbous-5:before {
    content: "\f0e2"
}

.wi-moon-alt-waning-gibbous-6:before {
    content: "\f0e3"
}

.wi-moon-alt-third-quarter:before {
    content: "\f0e4"
}

.wi-moon-alt-waning-crescent-1:before {
    content: "\f0e5"
}

.wi-moon-alt-waning-crescent-2:before {
    content: "\f0e6"
}

.wi-moon-alt-waning-crescent-3:before {
    content: "\f0e7"
}

.wi-moon-alt-waning-crescent-4:before {
    content: "\f0e8"
}

.wi-moon-alt-waning-crescent-5:before {
    content: "\f0e9"
}

.wi-moon-alt-waning-crescent-6:before {
    content: "\f0ea"
}

.wi-moon-0:before {
    content: "\f095"
}

.wi-moon-1:before {
    content: "\f096"
}

.wi-moon-2:before {
    content: "\f097"
}

.wi-moon-3:before {
    content: "\f098"
}

.wi-moon-4:before {
    content: "\f099"
}

.wi-moon-5:before {
    content: "\f09a"
}

.wi-moon-6:before {
    content: "\f09b"
}

.wi-moon-7:before {
    content: "\f09c"
}

.wi-moon-8:before {
    content: "\f09d"
}

.wi-moon-9:before {
    content: "\f09e"
}

.wi-moon-10:before {
    content: "\f09f"
}

.wi-moon-11:before {
    content: "\f0a0"
}

.wi-moon-12:before {
    content: "\f0a1"
}

.wi-moon-13:before {
    content: "\f0a2"
}

.wi-moon-14:before {
    content: "\f0a3"
}

.wi-moon-15:before {
    content: "\f0a4"
}

.wi-moon-16:before {
    content: "\f0a5"
}

.wi-moon-17:before {
    content: "\f0a6"
}

.wi-moon-18:before {
    content: "\f0a7"
}

.wi-moon-19:before {
    content: "\f0a8"
}

.wi-moon-20:before {
    content: "\f0a9"
}

.wi-moon-21:before {
    content: "\f0aa"
}

.wi-moon-22:before {
    content: "\f0ab"
}

.wi-moon-23:before {
    content: "\f0ac"
}

.wi-moon-24:before {
    content: "\f0ad"
}

.wi-moon-25:before {
    content: "\f0ae"
}

.wi-moon-26:before {
    content: "\f0af"
}

.wi-moon-27:before {
    content: "\f0b0"
}
