#links {
    display: flex;
    position: absolute;
    top: 40px;
    left: 30px;
    align-self: flex-start;
    justify-content: center;
    width: 550px;
    //height: 55px;
    & #links_wrapper {

          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-flow: row wrap;

    & #top_links_wrapper {
          background-color: rgba(0, 0, 0, .3);
          border-radius: 5px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-flow: column wrap;

        & #top_links_heading {
            color: #fff;
            padding: 0px;
            margin: 3px;
          }

        & #links_list {
              padding: 0;
              display: flex;
              width: 100%;
              flex-flow: row nowrap;
              justify-content: center;
              align-items: center;
        & li {
              display: flex;
              align-items: center;
              list-style: none;
              justify-content: center;
              width: 80px;
              height: 50px;
              text-align: center;
              font-size: 10px;
          } /* ! li */
        } /* ! links_list */

    } /* ! top_links_wrapper */

    & #custom_links_wrapper {
          width: 250px;
          margin-top: 20px;
          background-color: rgba(0, 0, 0, .3);
          border-radius: 5px;
          //width: 100%;
          display: flex;

          align-items: center;
          justify-content: center;
          flex-flow: row wrap;

          & #custom_links {
                list-style-type: none;
                margin: 20px 20px;
                padding: 0;
                width: 250px;

                & li {
                display: block;
                color: #000;
                padding: 8px 8px;
                text-decoration: none;

                    & .delete-link {
                        color: #fff;
                        cursor: pointer;
                    }
                    & .link-name {
                        display: inline-block;
                        width: 170px;
                    }
                }

                /* Change the link color on hover */
                & li:hover {
                background-color: #555;
                color: white;
            }

          }

          & #save_links {
          //padding: 0;
          display: flex;
          width: 100%;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
            & .link_inputs {
                padding: 4px 20px;
                margin: 4px 0;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }
        & #link_save {
            background-color: #4CAF50;
            color: white;
            padding: 4px 20px;
            margin: 4px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            }
        } /* ! save_links */

      }
    }


    & a {
          color: #CCC;
          text-decoration: none;
      } /* ! a */

    & .link_icon:hover {
          opacity: .5;
      }
} /* ! links */
