#todoMain {
    position: absolute;
    width: 250px;
    height: auto;
    right: 1%;
    bottom: 2%;
    font-size: 15px;
    border-radius: 3px;
    background-color:rgba(0,0,0,0.35);
}

#todoTitle {
    color: white;
    text-align: center;
    margin: 0;
    padding: 6px 5px 2px 5px;
}

#todoAdd {
    margin: 0 auto;
}

#inputTodo {
    background-color:transparent;
    border-style: solid; 
    border-width: 0px 0px 1px 0px; 
    border-color: white;
    color:white;
    font-size: 15px;
    display: block;
    margin: 0px auto 3% auto;
}

#inputTodo:focus{
    outline: none;
}

#list {
    list-style: none;
    padding: 6px 5px 7px 5px;
    margin: 0;
    color: white;
}

.itemDone {
    text-decoration: line-through;
    color: grey;
}

.focusBtnTodo {
    width:80px;
    margin-left: 2px;
    border-radius: 3px;
    display: none;
    color:grey;
    padding: 2px;
    background-color: transparent;
    border: 2px solid grey;
    float: right;
    background: none;
}

.deleteBtnTodo {
    width:45px;
    border-radius: 3px;
    display: none;
    color:grey;
    padding: 2px;
    background-color: transparent;
    border: 2px solid grey;
    float: right;
    background: none;
}

li:hover .focusBtnTodo {
    display: inline;
}

li:hover .deleteBtnTodo {
    display: inline;
}

.deleteBtnTodo:focus{
    outline: none;
}

.focusBtnTodo:focus{
    outline: none;
}

.deleteBtnTodo:active{
    border-color: white;
}

.focusBtnTodo:active{
    border-color: white;
}

#noTodoText {
    color:white;
    text-align: center;
}

#noTodoImg {
    width: 15%;
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto
}