#weather{
    position: relative;
    float: right;
    top: 5px;
    right: 5px;
    // border: 1px solid black;

    width: 280px;
    height: 180px;
    // border: 1px solid black;
    // background: rgba(0, 0, 0, .3);
    border-radius: 5px;
    text-align: center;
    color: #272a38;
    & .currentTemp {
        & p {
            position: relative;
            right: -145px;
            top: -75px;
            width: 50%;
            font-size: 4rem;
            margin: 0;
            cursor: pointer;
        }
        & .unit {
            font-size: 1.4rem;
        }
    } /*! currentTemp*/

    & .location {
        position: relative;
        font-size: 22px;
        margin: 0;
        padding: 0;
        top: -60px;
        & .loc {
            text-align: center;
            margin: 0;
        } /* ! loc */ 
    } /* ! location */
    & #icon {
        position: relative;
        // border: .5px solid black;
        left: 60px;
        top: 20px;
        float: left;
    }

   
} /*! weather*/