@lost flexbox flex;
@lost gutter 0px;
#weather {
    lost-row: 1/2;
    margin: 3px .5rem;
    width: 200px;
    min-width: 200px;
    height: 150px;
    background: rgba(0, 0, 0, .35);
    color: #e0e0f8;
    border-radius: 5px;
    text-align: center;
    transition: background .5s linear;

    @media (--viewport-extralarge) {
        width: 240px;
        min-width: 240px;
        height: 170px;
        background: rgba(0, 0, 0, .35);
    }
    & .location {
        lost-row: 1/4;
        font-size: 15px;
        lost-align: center;
        margin: 0;
        padding: 0;
        @media (--viewport-extralarge) {
            font-size: 19px;
        }
    }
    /* ! location */
    & .wInfo {
        lost-row: 3/4;
        lost-align: bottom-center;
        color: #e0e0f8;
        padding-bottom: 15px;
        & .currIcon {
            lost-column: 1/2;
            lost-align: center;
            width: 50%;
            & #icon {
                cursor: pointer;
            }
        } /* ! currIcon */
        & .currentTemp {
            lost-column: 1/2;
            lost-align: center;
            width: 50%;
            & p {
                lost-align: center;                
                font-size: 3rem;
                margin: 0;
            }
            @media (--viewport-extralarge) {
                & p {
                    font-size: 4rem;
                }
            } /* !media */
        }
        /*! currentTemp*/
    }
    /* ! wInfo */

    &:hover {
        background: rgba(0, 0, 0, .55);
    }
}
/*! weather*/
