@lost flexbox flex;
@lost gutter 0px;
#weather {
    margin: 3px .5%;
    width: 280px;
    min-width: 280px;
    height: 180px;
    background: rgba(0, 0, 0, .35);
    lost-center: 100% .5rem;
    color: #e0e0f8;
    border-radius: 5px;
    margin-right: 1rem;

    & .location {
        lost-row: 1/4;
        font-size: 22px;
        lost-align: center;
        margin: 0;
        padding: 0; 
    }
    /* ! location */
    & .wInfo {
        lost-row: 3/4;
        lost-align: bottom-center;
        color: #e0e0f8;
        padding-bottom: 15px;

        & .currIcon {
            lost-column: 1/2;
            lost-align: center;
            width: 50%;            
            & #icon {
                cursor: pointer;
            }
        } /* ! currIcon */
        
        & .currentTemp {
            lost-column: 1/2;
            lost-align: center;
            width: 50%;            
            & p {
                font-size: 4rem;
                margin: 0;
                cursor: pointer;
            }
            & .unit {
                font-size: 1.4rem;
            }
        } /*! currentTemp*/
    } /* ! wInfo */
} /*! weather*/ 



